@page
@model Stock_Kings.Pages.FavouriteStocksModel

@{
    ViewData["Title"] = "FavouriteStocks";
}


<h1>My Favourite Stocks</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StockModel[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockModel[0].Price)
            </th>
          
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.StockModel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
           
        </tr>
}
    </tbody>
</table>
